node_modules/
dist/
.vite/
target/
src-tauri/target/

.DS_Store
Thumbs.db

.idea/
.vscode/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*.orig

src-tauri/icons/android/
src-tauri/icons/ios/
src-tauri/icons/64x64.png
src-tauri/icons/icon-1024.png
src-tauri/icons/StoreLogo.png
src-tauri/icons/Square*.png
